<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GA" value="CertMSGA"/>
    <add key="pbk" value="pbk"/>
    <add key="sign" value="sign"/>
    <add key="verify" value="verify"/>
  </appSettings>
</configuration>